:root {
    --header-colour: #0C6487;
    --nav_button: #555a5f;
    --background: #8eb0db;
}

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header{
    background-color: var(--header-colour);
    display: flex;
    flex-direction: column;
}

.small_logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.small_logo img{
    border-radius: 50%;
}

 .Long_logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
} 

.Long_logo img{
    max-width: 50%;
}


.nav_list {
    background-color: var(--nav_button);
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    list-style: none;
}


.nav_list a{
    text-decoration: none;
    color: white;
}


body {
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0; 
    background-color: var(--background);   
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--header-colour);
    text-align: center;
}

.icons {
    display: flex;
    justify-content: space-around;
    font-size: 2.25rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.info p{
    background-color: var(--nav_button);
    margin: auto;
    border: 15px solid var(--nav_button);
    text-align: left;
    color: antiquewhite
}

.panel a {
    text-decoration: none;
}

@media screen and (min-width: 650px){
    header{
        background-color: var(--header-colour);
        display: grid;
        grid-template-rows: 1fr 75px;  /*you can use px, %, auto etc. here*/
        grid-template-columns: 250px 1fr;
        grid-template-areas: "left-item right-top" "left-item right-bottom";
        
    }

    .small_logo {
        grid-area: left-item;
        display: flex;
        align-items: center;
    }

    .small_logo img {
        border-radius: 0;
        width: 150px;
    }
    
    .Long_logo {
        grid-area: right-top;
        display: flex;
        justify-content: flex-end;
    }

    .nav_list {
        grid-area: right-bottom;
    }
}