:root {
    --header-colour: #0C6487;
    --nav_button: #555a5f;
    --background: #8eb0db;
}

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;
}

.form-elements {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    justify-content: flex-end;
    align-items: center;
}

.form-elements label {
    font-size: 18px;
    margin-right: 10px;
    color: antiquewhite;
}

.form-input {
    border: 1px solid var(--primary-color);
    outline: none;
    border-radius: 4px;
    font-size: 18px;
    display: flex;
}

.form-input:not(.form-textarea) {
    height: 35px;
    width: 250px;
    align-self: left;
}

.form-textarea {
    resize: none;
    width: 250px;
}

.button {
    text-align: center;
    margin-bottom: -40px;
    margin-top: 40px;
}

#submit {
    height: 40px;
    background-color: var(--nav_button);
    border: none;
    border-radius: 4px;
    min-width: 120px;
    font-size: 20px;
    color: antiquewhite;
}

#submit:hover {
    cursor: pointer;
    background-color: #ffb6b699;
}

.form {
    background-color: #0C6487;
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.form-elements {
    display: flex;
}

.form form {
    margin-top: -40px;
}