:root {
    --header-colour: #0C6487;
    --nav_button: #555a5f;
    --background: #8eb0db;
}

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin: 20px;
    background-color: var(--nav_button);
    border-radius: 20px;
}

.content {
    text-align: left;
    color: antiquewhite;
    border-radius: 20px;
    font-size: 1rem;
    margin-left: 20px;
} 

.blog h2 {
    color: rgb(250, 214, 167);
    margin-left: 20px;
    font-weight: normal;
}

.blog h3 {
    color: rgb(250, 214, 167);
    margin-left: 20px;
    font-weight: normal;
    margin-top: -10px;
    margin-bottom: -7px;
    font-size: 1.2rem;
    font-style: italic;
}

H1 {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: var(--nav_button);
    align-items: center;
    color: antiquewhite;
    font-weight: normal;
    font-size: 2rem;
    border-radius: 20px;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: -20px;
}
.read_more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
    background-color: var(--header-colour);
    margin: 20px;
    border-radius: 10px;

}

.read_more a {
    text-decoration: none;
}

main img {
    width: 40%;
    margin-top: 15px;
    align-self: center;
}

@media screen and (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    
    .grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .blog {
        width: 400px;        
    }

}