:root {
    --header-colour: #0C6487;
    --nav_button: #555a5f;
    --background: #8eb0db;
}

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.panel {
    margin-top: 10dvw;
    background-color: var(--header-colour);
    padding: 1rem;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.panel img{
    width: 80dvw;
    border-radius: 5%;
} 

h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100px;
    height: 50px;
    background: var(--nav_button);
    color: antiquewhite;
}